*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2{
    text-align: center;
    margin: 20px;
}

.container{
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 5px;
    width: 50%;
    display: flex;
    flex-direction: row;
    margin-left: 25%;
}

.left-container{
    width: 30%;
    margin: 2%;
    display: flex;
    align-items: center;
}
.left-container .profile{
    width: 100%;
    height: 100%;
}

.right-container{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: 2%;
}

.right-container .right{
    height: 25%;
}

.right-container .thanks{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.right-container .thanks .boldtext{
    font-weight: bolder;
    font-size: 2vw;
    margin: 12px 0px 0px 2px;
    font-family: sans-serif;
    width: 70%;
}
.thanks .raising-hands{
    margin: 16px 0px 0px 2px;
    width: 10%;
    height: 40%;
}
.thanks .closeicon{
    justify-content: end;
    width: 4%;
    height: 25%;
    cursor: pointer;
    margin: 10px;
}

.right-container .shoutout{
    display: flex;
}

.text{
    position: relative;
    font-family: sans-serif;
    font-size: 3vh;
    line-height: 30px;
    color: rgb(98, 97, 97);
}

.highlight{
    color: rgb(182, 184, 185);
    text-decoration: underline;
}

.right-container .social-links{
    display: flex;
    width: 65%;
    justify-content: space-between;
    padding-top: 3%;
    justify-items: center;
}

.link{
    height: 57%;
    width: 100%;
    cursor: pointer;
    margin-top: 5px;
}

.facebook, .twitter, .pinterest, .email{
    height: 70%;
    width: 100%;
    cursor: pointer;
}

.right-container .photoby{
    display: flex;
    border: 2px solid rgb(171, 171, 171);
    width: 95%;
    justify-content: space-around;
    align-items: center;
    border-radius: 6px;
    background-color: rgb(238, 237, 237);
}

.right-container .photoby .copyicon{
    width: 6%;
    height: 40%;
    cursor: pointer;
}