<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Employee</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Employee.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="container-fluid navbar navbar-expand-lg navbar-dark" style="background-color: #4E4FEB;">
            @*<a class="navbar-brand" href="#">Navbar</a>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                   @* <a class="nav-item nav-link active" href="#">Add Employees </a>*@
                    <a class="nav-item nav-link" asp-controller="Employee" asp-action="Index">View Employees</a>
                    <a class="nav-item nav-link" asp-controller="Employee" asp-action="AddEmployee">Add Employee</a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @*<footer class="border-top footer text-white" style="background-color: #4E4FEB;">
       <div>
           <p>2023</p>
       </div>
    </footer>*@
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
