body {
    background-color: #b9bfcb;
    margin: 0;
    padding: 0;
}


.container {
    justify-content: center;
    align-items: center;
	display: flex; 
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 200px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative; 
}

.image {
    margin: 10px;
    flex: 0 0 150px;
}
.image img{
	border-radius: 10%;
    border: 1px solid gray;
	width:150px;
	height:200px;
}
.card {
    padding: 5px;
    margin: 5px;
    flex: 1;
}

.item {
    padding: 10px;
    margin: 10px;
    width: 500px;
    height: 225px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.close {
    position: absolute; 
    top: 10px; 
    right: 10px; 
}

.close img {
    height: 20px; 
    width: 20px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 3px;
}

.text {
    color: black;
    font-size: 16px;
}

.SocialLinks {
    display: flex;
}

div.SocialLinks img {
    border-radius: 50%;
    margin: 10px;
    height: 28px;
    width: 30px;
}

.copy {
    margin-top: 10px;
    margin-bottom: 20px;
    display: flex;
    padding: 2px;
    flex-wrap: wrap;
    align-items: center;
    border: 1px solid;
    border-radius: 5px;
    background-color: #efeded;
}

.copy label {
    border: 0px;
    color: #000000;
}
a{	
	color: #a8a8b3;
}

.SocialLink,.copy-icon{
    border: 0px;
    cursor: pointer;
    margin-left: 1px;
}
.copy img{
	margin-left: 36px;
	width:25px;
	height:25px;
}