@model StudentCourseWEB.ViewModels.StudentViewModel;

@{
    ViewData["Title"] = "Create";
}

<div>
    <a asp-action="Index">Back to List</a>
</div>

<div class="container">
    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header">
                    <h1 class="text-center text-primary">Add Student</h1>
                </div>
                <div class="card-body">
                    <form method="post" asp-action="Create" onsubmit="message()">
                        <div class="mb-3">
                            <label asp-for="StudentName"></label>
                            <input type="text" asp-for="StudentName" class="form-control" placeholder="Enter student's name" required />
                        </div>
                        <div class="mb-3">
                            <label for="Course">Course</label>
                            <select asp-for="CourseId" class="form-select" aria-label="Default select example">
                                <option value="" selected disabled>Select Course</option>
                                @if (ViewData["Courses"] is List<StudentCourseWEB.Models.CourseModel> courses)
                                {
                                    foreach (var course in courses)
                                    {
                                        <option value="@course.CourseId">@course.CourseName</option>
                                    }
                                }
                            </select>
                        </div>
                        <div class="mb-3">
                            <label asp-for="StudentAge"></label>
                            <input type="number" asp-for="StudentAge" class="form-control" placeholder="Enter student's age" required />
                        </div>
                        <div class="mb-3">
                            <label asp-for="StudentCity"></label>
                            <input type="text" asp-for="StudentCity" class="form-control" placeholder="Enter student's city" required/>
                        </div>
                        <div class="mb-3">
                            <input type="submit" value="submit" class="btn btn-sm btn-outline-success float-end" />
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script>
        function message(){
            alert("Student added successfully");
        }
    </script>
}