
@{
    ViewData["Title"] = "Home Page";
}
@model VireshSirTask.Models.ViewModel.StudentView;
<div class="text-center">
    <h1 class="display-4">Welcome:)</h1>

    <div>
        <h3>Enter Student Details</h3>
        <form asp-action="SaveToDB" asp-controller="Student">
            <div class="form-group">
            
                <input asp-for="StudentName" type="text" class="form-control mb-3" id="exampleInputStudent" aria-describedby="StudentHelp" placeholder="Enter StudentName">
              
            </div>
            <div class="form-group ">
                <select asp-for="Course"    class="form-control mb-3 form-control-lg">
                    <option>MCA</option>
                    <option>BTECH</option>
                    <option>MBA</option>
                </select>

            </div>
            <div class="form-group">
             
                <input asp-for="Age" type="number" class="form-control mb-3 " id="exampleInputnumber" placeholder="Enter Age">
            </div>
            <div class="form-group">
             
                <input asp-for="City" type="text" class="form-control  mb-3" id="exampleInputCity" placeholder="Enter City">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>

    </div>
   </div>
