@model IEnumerable<Employee.Models.EmployeeList>

@{
    ViewData["Title"] = "EmptyEmployee";
}

<h1>Employees List</h1>
<p>
    <a asp-action="AddEmployee">Create New</a>
</p>
<p>
    No List Found
</p>

