<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Database" value="Data Source=ESHU-PC\\SQLEXPRESS;Initial Catalog=CodefirstDatabase;Integrated Security=True"/>
  </appSettings>
  <connectionStrings>
    <add name="StudentDBContext" connectionString="Data Source=ESHU-PC\\SQLEXPRESS;Initial Catalog=CodefirstDatabase;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>